<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="findAllUser" parameterType="map" resultType="com.example.entity.User">
        SELECT
          user_name userName,
          user_ip userIp
        FROM t_user
    </select>

    <insert id="saveUser" parameterType="com.example.entity.User">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user(user_name, user_ip) values(#{userName}, #{userIp})
    </insert>

    <select id="findByUserNames" parameterType="map" resultType="com.example.entity.User">
        SELECT
          user_name userName,
          user_ip userIp
        FROM t_user
        where user_name in
        <foreach collection="request.userNames" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
